.wp_content {
    max-width: 772px;
    border: 1px solid black;
    margin: auto;
    font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
    font-weight: 400;
    color: #363b40;
}


/*******************************
* COPY CODE BELOW TO WORDPRESS *
********************************/

#glossary_page {
    padding: 20px;
}

#glossary_page label {
    display: block;
}

#glossary_page #text_input-area {
    display: block;
    margin: auto;
    padding: 5px;
    width: 100%;
    height: 30rem;
    border: 1px solid black;
    font-size: 10px;
    overflow: scroll;
}

#glossary_page .comment_box {
    padding-left: 10px;
}

#glossary_page .sample {
    display: none;
}

#glossary_page .highlighted {
    background-color: yellow;
}

#glossary_page .term {
    font-weight: bold;
}
