#glossary_page .row {
  display: flex;
}

#glossary_page .column {
  flex: 50%;
}

#glossary_page label {
    display: block;
}

#glossary_page textarea#text_input {
    display: block;
    width: 90%;
}

#glossary_page .comment_box {
    border: 1px solid black;
}

#glossary_page .comment_box.sample {
    display: none;
}

